.product-toolbar {
  margin-bottom: 50px;
}

.toolbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.toolbar-top h2 {
  font-size: 34px;
}

.toolbar-top p {
  color: #6b7280;
}

.toolbar-search-sort {
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.toolbar-search-sort input {
  flex: 1;
  height: 50px;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 0 18px;
  font-size: 15px;
}

.toolbar-search-sort select {
  width: 220px;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 0 15px;
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.category-buttons button {
  padding: 10px 22px;
  border: 1px solid #ddd;
  background: white;
  border-radius: 999px;
  cursor: pointer;
  transition: 0.3s;
}

.category-buttons button:hover {
  background: #2563eb;
  color: white;
}

.category-buttons .active {
  background: #2563eb;
  color: white;
  border-color: #2563eb;
}

@media (max-width: 768px) {
  .toolbar-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .toolbar-search-sort {
    flex-direction: column;
  }

  .toolbar-search-sort select {
    width: 100%;
  }
}
