nav{
    padding:20px 0;
    border-bottom:1px solid #eee;
}

nav .container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    gap:40px;
    list-style:none;
}

nav button{
    background:#2563eb;
    color:#fff;
    padding:12px 24px;
    border-radius:8px;
}