.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;

  margin-bottom: 35px;

  font-size: 15px;
}

.breadcrumb a {
  color: #666;
  text-decoration: none;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #0d6efd;
}

.separator {
  color: #aaa;
  font-size: 12px;
}

.breadcrumb span {
  color: #777;
}

.breadcrumb .active {
  color: #111;
  font-weight: 600;
}

@media (max-width: 768px) {
  .breadcrumb {
    font-size: 14px;
    gap: 8px;
  }
}
